<h2>Foods <small>Show</small> </h2>

Nama Makanan : <%= @food.nama %>
<br>
harga :  <%= @food.harga %>
<br><br>
<%= link_to 'Edit', edit_food_path(@food) %>
<%= link_to 'Beranda', foods_path %>



